<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
	<appSettings>
		<add key="baseURL" value="https://api.unsplash.com/" />
		<add key="randomPhotosURL" value="photos/random" />
		<add key="secretKey" value="" />
		<add key="localCacheLocation" value="C:\\Flock\\" />
		<add key="localCacheSize" value="2" />
		<add key="openOnStartup" value="true" />
		<add key="newOnStartup" value="false" />
	</appSettings>
</configuration>